@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .search-bar-container a {
    text-decoration: none;
    color: #000;
  }

  .join-button {
    border-radius: 0;
    border: 1px solid #cccccc;
    padding: 5px;
  }

  .login-button {
    padding: 5px;
  }

  .npm-logo {
    width: 50px;
    margin-right: 1rem;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgba(0,0,0,.05);
  }

  .search-form-container {
    display: flex;
    width: 100%;
  }

  .form-container img {
    height: 40px    ;
  }

  .search-form {
    width: 100%;
    display: flex;
  }

  .search-form input {
    background-color: rgba(0,0,0,.05);
    flex-grow: 1;
    border-style: none;
  }

  .search-form button {
    background-color: #fb3e44;  
    color: white;
  }


  .section1 {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .section1 a {
    text-decoration: none;
    font-size: 1.2em;
  }

  .section1-button1 {
    background-color: #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 10px 40px;
  }

  .section1-button2 {
    color: black;
  }

  .section1 h1 {
    font-size: 3.5em;
    margin: 10px;
  }

  .section1-article {
    margin: 10px 30% 10px 30%;
    text-align: center;
  }

  .section1-buttons {
    justify-content: space-around;
    display: flex;
    width: 50%;
    align-items: center;
  }

.section2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.section2 h2 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-size: 2em;
}

.section2-article {
    margin: 10px 15%;
    text-align: center;
}

.section2-img {
    width: 20%;
    margin-top: 20px;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 5% 100px 5%;
}

.section3-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px        ;
}

.section3-box-container > div {
    flex-direction: column; 
    padding: 0 2%;
}

.section3 img {
    width: 30px;
}

.section3 h3 {
    color: #ED1C24;
}

.create-org-button {
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
}